* {
    margin: 0;
    padding: 0;
h1{
text-align: center;
}



img {
    width: 100%;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media only screen and (max-width:770px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}